################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/beer.spots.api/.vs
/beer.spots.api/BeerSpots.Api/beer.spots.api.csproj.user
/beer.spots.api/BeerSpots.Api/obj
/beer.spots.api/BeerSpots.Api/bin
/beer.spots.api/BeerSpots.Api/BeerSpots.Api.csproj.user
/beer.spots.api/BeerSpots.Data.Entities/obj
/beer.spots.api/BeerSpots.Data.Entities/bin
/beer.spots.api/BeerSpots.App/obj
/beer.spots.api/BeerSpots.App/bin
/beer.spots.api/BeerSpots.Data.DataStore/obj
/beer.spots.api/BeerSpots.Data.DataStore/bin
/beer.spots.api/BeerSpots.App.Impl/obj
/beer.spots.api/BeerSpots.App.Impl/bin
/beer.spots.api/BeerSpots.App.DependencyInjection/obj
/beer.spots.api/BeerSpots.App.DependencyInjection/bin
